
.spectrum-Tabs {
  --spectrum-tabs-s-quiet-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-s-quiet-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-quiet);
  --spectrum-tabs-s-quiet-textonly-tabitem-icon-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tabs-s-quiet-textonly-tabitem-focus-ring-padding-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tabs-s-quiet-textonly-tabitem-height: var(--spectrum-global-dimension-size-500);
  --spectrum-tabs-s-quiet-textonly-divider-size: var(--spectrum-alias-border-size-thick);
  --spectrum-tabs-s-emphasized-texticon-tabitem-icon-color-selected: var(--spectrum-alias-tabitem-text-color-emphasized-selected-default);
  --spectrum-tabs-s-emphasized-texticon-tabitem-text-color-selected: var(--spectrum-alias-tabitem-text-color-emphasized-selected-default);
  --spectrum-tabs-s-emphasized-texticon-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-selection-indicator-color-emphasized);
  --spectrum-tabs-s-emphasized-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-default);
  --spectrum-tabs-s-texticon-tabitem-text-size: var(--spectrum-global-dimension-font-size-75);
  --spectrum-tabs-s-texticon-tabitem-selection-indicator-animation-duration: var(--spectrum-global-animation-duration-100);
  --spectrum-tabs-s-texticon-tabitem-selection-indicator-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-tabs-s-textonly-tabitem-icon-color-selected: var(--spectrum-alias-tabitem-icon-color-selected);
  --spectrum-tabs-s-textonly-tabitem-text-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-s-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-s-textonly-tabitem-icon-color-selected-key-focus: var(--spectrum-alias-tabitem-icon-color-selected);
  --spectrum-tabs-s-textonly-tabitem-text-color-selected-key-focus: var(--spectrum-alias-tabitem-text-color-selected-key-focus);
  --spectrum-tabs-s-textonly-tabitem-icon-color-disabled: var(--spectrum-alias-tabitem-icon-color-disabled);
  --spectrum-tabs-s-textonly-tabitem-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-tabs-s-textonly-tabitem-icon-color: var(--spectrum-alias-tabitem-icon-color-default);
  --spectrum-tabs-s-textonly-tabitem-text-color: var(--spectrum-alias-tabitem-text-color-default);
  --spectrum-tabs-s-textonly-tabitem-icon-color-hover: var(--spectrum-alias-tabitem-icon-color-hover);
  --spectrum-tabs-s-textonly-tabitem-text-color-hover: var(--spectrum-alias-tabitem-text-color-hover);
  --spectrum-tabs-s-textonly-tabitem-focus-ring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-tabs-s-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-default);
  --spectrum-tabs-s-textonly-tabitem-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tabs-s-textonly-tabitem-focus-ring-size: var(--spectrum-alias-focus-ring-size);
  --spectrum-tabs-s-textonly-tabitem-focus-ring-height: var(--spectrum-global-dimension-size-300);
  --spectrum-tabs-s-textonly-tabitem-focus-ring-padding-x: var(--spectrum-global-dimension-size-85);
  --spectrum-tabs-s-textonly-tabitem-focus-ring-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-tabs-s-textonly-tabitem-margin-right: var(--spectrum-global-dimension-size-300);
  --spectrum-tabs-s-textonly-divider-border-radius: var(--spectrum-global-dimension-static-size-10);
  --spectrum-tabs-s-vertical-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-s-vertical-textonly-tabitem-height: var(--spectrum-global-dimension-size-450);
  --spectrum-tabs-s-vertical-textonly-tabitem-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tabs-s-compact-textonly-divider-size: var(--spectrum-alias-border-size-thick);
  --spectrum-tabs-s-compact-textonly-height: var(--spectrum-global-dimension-size-300);
  --spectrum-tabs-s-compact-vertical-textonly-tabitem-height: var(--spectrum-global-dimension-size-300);
  --spectrum-tabs-s-compact-vertical-textonly-tabitem-gap: var(--spectrum-global-dimension-size-85);
  --spectrum-tabs-m-quiet-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-m-quiet-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-quiet);
  --spectrum-tabs-m-quiet-textonly-tabitem-icon-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-tabs-m-quiet-textonly-tabitem-focus-ring-padding-x: var(--spectrum-global-dimension-size-100);
  --spectrum-tabs-m-quiet-textonly-tabitem-height: var(--spectrum-global-dimension-size-600);
  --spectrum-tabs-m-quiet-textonly-divider-size: var(--spectrum-alias-border-size-thick);
  --spectrum-tabs-m-emphasized-texticon-tabitem-icon-color-selected: var(--spectrum-alias-tabitem-text-color-emphasized-selected-default);
  --spectrum-tabs-m-emphasized-texticon-tabitem-text-color-selected: var(--spectrum-alias-tabitem-text-color-emphasized-selected-default);
  --spectrum-tabs-m-emphasized-texticon-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-selection-indicator-color-emphasized);
  --spectrum-tabs-m-emphasized-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-default);
  --spectrum-tabs-m-texticon-tabitem-text-size: var(--spectrum-global-dimension-font-size-100);
  --spectrum-tabs-m-texticon-tabitem-selection-indicator-animation-duration: var(--spectrum-global-animation-duration-100);
  --spectrum-tabs-m-texticon-tabitem-selection-indicator-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-tabs-m-textonly-tabitem-icon-color-selected: var(--spectrum-alias-tabitem-icon-color-selected);
  --spectrum-tabs-m-textonly-tabitem-text-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-m-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-m-textonly-tabitem-icon-color-selected-key-focus: var(--spectrum-alias-tabitem-icon-color-selected);
  --spectrum-tabs-m-textonly-tabitem-text-color-selected-key-focus: var(--spectrum-alias-tabitem-text-color-selected-key-focus);
  --spectrum-tabs-m-textonly-tabitem-icon-color-disabled: var(--spectrum-alias-tabitem-icon-color-disabled);
  --spectrum-tabs-m-textonly-tabitem-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-tabs-m-textonly-tabitem-icon-color: var(--spectrum-alias-tabitem-icon-color-default);
  --spectrum-tabs-m-textonly-tabitem-text-color: var(--spectrum-alias-tabitem-text-color-default);
  --spectrum-tabs-m-textonly-tabitem-icon-color-hover: var(--spectrum-alias-tabitem-icon-color-hover);
  --spectrum-tabs-m-textonly-tabitem-text-color-hover: var(--spectrum-alias-tabitem-text-color-hover);
  --spectrum-tabs-m-textonly-tabitem-focus-ring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-tabs-m-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-default);
  --spectrum-tabs-m-textonly-tabitem-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tabs-m-textonly-tabitem-focus-ring-size: var(--spectrum-alias-focus-ring-size);
  --spectrum-tabs-m-textonly-tabitem-focus-ring-height: var(--spectrum-global-dimension-size-400);
  --spectrum-tabs-m-textonly-tabitem-focus-ring-padding-x: var(--spectrum-global-dimension-size-100);
  --spectrum-tabs-m-textonly-tabitem-focus-ring-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-tabs-m-textonly-tabitem-margin-right: var(--spectrum-global-dimension-size-300);
  --spectrum-tabs-m-textonly-divider-border-radius: var(--spectrum-global-dimension-static-size-10);
  --spectrum-tabs-m-vertical-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-m-vertical-textonly-tabitem-height: var(--spectrum-global-dimension-size-550);
  --spectrum-tabs-m-vertical-textonly-tabitem-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-tabs-m-compact-textonly-divider-size: var(--spectrum-alias-border-size-thick);
  --spectrum-tabs-m-compact-textonly-height: var(--spectrum-global-dimension-size-400);
  --spectrum-tabs-m-compact-vertical-textonly-tabitem-height: var(--spectrum-global-dimension-size-400);
  --spectrum-tabs-m-compact-vertical-textonly-tabitem-gap: var(--spectrum-global-dimension-size-100);
  --spectrum-tabs-l-quiet-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-l-quiet-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-quiet);
  --spectrum-tabs-l-quiet-textonly-tabitem-icon-gap: var(--spectrum-global-dimension-size-115);
  --spectrum-tabs-l-quiet-textonly-tabitem-focus-ring-padding-x: var(--spectrum-global-dimension-size-115);
  --spectrum-tabs-l-quiet-textonly-tabitem-height: var(--spectrum-global-dimension-size-700);
  --spectrum-tabs-l-quiet-textonly-divider-size: var(--spectrum-alias-border-size-thick);
  --spectrum-tabs-l-emphasized-texticon-tabitem-icon-color-selected: var(--spectrum-alias-tabitem-text-color-emphasized-selected-default);
  --spectrum-tabs-l-emphasized-texticon-tabitem-text-color-selected: var(--spectrum-alias-tabitem-text-color-emphasized-selected-default);
  --spectrum-tabs-l-emphasized-texticon-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-selection-indicator-color-emphasized);
  --spectrum-tabs-l-emphasized-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-default);
  --spectrum-tabs-l-texticon-tabitem-text-size: var(--spectrum-global-dimension-font-size-200);
  --spectrum-tabs-l-texticon-tabitem-selection-indicator-animation-duration: var(--spectrum-global-animation-duration-100);
  --spectrum-tabs-l-texticon-tabitem-selection-indicator-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-tabs-l-textonly-tabitem-icon-color-selected: var(--spectrum-alias-tabitem-icon-color-selected);
  --spectrum-tabs-l-textonly-tabitem-text-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-l-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-l-textonly-tabitem-icon-color-selected-key-focus: var(--spectrum-alias-tabitem-icon-color-selected);
  --spectrum-tabs-l-textonly-tabitem-text-color-selected-key-focus: var(--spectrum-alias-tabitem-text-color-selected-key-focus);
  --spectrum-tabs-l-textonly-tabitem-icon-color-disabled: var(--spectrum-alias-tabitem-icon-color-disabled);
  --spectrum-tabs-l-textonly-tabitem-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-tabs-l-textonly-tabitem-icon-color: var(--spectrum-alias-tabitem-icon-color-default);
  --spectrum-tabs-l-textonly-tabitem-text-color: var(--spectrum-alias-tabitem-text-color-default);
  --spectrum-tabs-l-textonly-tabitem-icon-color-hover: var(--spectrum-alias-tabitem-icon-color-hover);
  --spectrum-tabs-l-textonly-tabitem-text-color-hover: var(--spectrum-alias-tabitem-text-color-hover);
  --spectrum-tabs-l-textonly-tabitem-focus-ring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-tabs-l-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-default);
  --spectrum-tabs-l-textonly-tabitem-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tabs-l-textonly-tabitem-focus-ring-size: var(--spectrum-alias-focus-ring-size);
  --spectrum-tabs-l-textonly-tabitem-focus-ring-height: var(--spectrum-global-dimension-size-500);
  --spectrum-tabs-l-textonly-tabitem-focus-ring-padding-x: var(--spectrum-global-dimension-size-115);
  --spectrum-tabs-l-textonly-tabitem-focus-ring-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-tabs-l-textonly-tabitem-margin-right: var(--spectrum-global-dimension-size-300);
  --spectrum-tabs-l-textonly-divider-border-radius: var(--spectrum-global-dimension-static-size-10);
  --spectrum-tabs-l-vertical-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-l-vertical-textonly-tabitem-height: var(--spectrum-global-dimension-size-650);
  --spectrum-tabs-l-vertical-textonly-tabitem-gap: var(--spectrum-global-dimension-size-115);
  --spectrum-tabs-l-compact-textonly-divider-size: var(--spectrum-alias-border-size-thick);
  --spectrum-tabs-l-compact-textonly-height: var(--spectrum-global-dimension-size-500);
  --spectrum-tabs-l-compact-vertical-textonly-tabitem-height: var(--spectrum-global-dimension-size-500);
  --spectrum-tabs-l-compact-vertical-textonly-tabitem-gap: var(--spectrum-global-dimension-size-115);
  --spectrum-tabs-xl-quiet-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-xl-quiet-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-quiet);
  --spectrum-tabs-xl-quiet-textonly-tabitem-icon-gap: var(--spectrum-global-dimension-size-125);
  --spectrum-tabs-xl-quiet-textonly-tabitem-focus-ring-padding-x: var(--spectrum-global-dimension-size-125);
  --spectrum-tabs-xl-quiet-textonly-tabitem-height: var(--spectrum-global-dimension-size-800);
  --spectrum-tabs-xl-quiet-textonly-divider-size: var(--spectrum-alias-border-size-thick);
  --spectrum-tabs-xl-emphasized-texticon-tabitem-icon-color-selected: var(--spectrum-alias-tabitem-text-color-emphasized-selected-default);
  --spectrum-tabs-xl-emphasized-texticon-tabitem-text-color-selected: var(--spectrum-alias-tabitem-text-color-emphasized-selected-default);
  --spectrum-tabs-xl-emphasized-texticon-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-selection-indicator-color-emphasized);
  --spectrum-tabs-xl-emphasized-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-default);
  --spectrum-tabs-xl-texticon-tabitem-text-size: var(--spectrum-global-dimension-font-size-300);
  --spectrum-tabs-xl-texticon-tabitem-selection-indicator-animation-duration: var(--spectrum-global-animation-duration-100);
  --spectrum-tabs-xl-texticon-tabitem-selection-indicator-animation-ease: var(--spectrum-global-animation-ease-in-out);
  --spectrum-tabs-xl-textonly-tabitem-icon-color-selected: var(--spectrum-alias-tabitem-icon-color-selected);
  --spectrum-tabs-xl-textonly-tabitem-text-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-xl-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-xl-textonly-tabitem-icon-color-selected-key-focus: var(--spectrum-alias-tabitem-icon-color-selected);
  --spectrum-tabs-xl-textonly-tabitem-text-color-selected-key-focus: var(--spectrum-alias-tabitem-text-color-selected-key-focus);
  --spectrum-tabs-xl-textonly-tabitem-icon-color-disabled: var(--spectrum-alias-tabitem-icon-color-disabled);
  --spectrum-tabs-xl-textonly-tabitem-text-color-disabled: var(--spectrum-alias-text-color-disabled);
  --spectrum-tabs-xl-textonly-tabitem-icon-color: var(--spectrum-alias-tabitem-icon-color-default);
  --spectrum-tabs-xl-textonly-tabitem-text-color: var(--spectrum-alias-tabitem-text-color-default);
  --spectrum-tabs-xl-textonly-tabitem-icon-color-hover: var(--spectrum-alias-tabitem-icon-color-hover);
  --spectrum-tabs-xl-textonly-tabitem-text-color-hover: var(--spectrum-alias-tabitem-text-color-hover);
  --spectrum-tabs-xl-textonly-tabitem-focus-ring-border-color-key-focus: var(--spectrum-alias-focus-ring-color);
  --spectrum-tabs-xl-textonly-divider-background-color: var(--spectrum-alias-tabs-divider-background-color-default);
  --spectrum-tabs-xl-textonly-tabitem-text-font-weight: var(--spectrum-alias-body-text-font-weight);
  --spectrum-tabs-xl-textonly-tabitem-focus-ring-size: var(--spectrum-alias-focus-ring-size);
  --spectrum-tabs-xl-textonly-tabitem-focus-ring-height: var(--spectrum-global-dimension-size-600);
  --spectrum-tabs-xl-textonly-tabitem-focus-ring-padding-x: var(--spectrum-global-dimension-size-125);
  --spectrum-tabs-xl-textonly-tabitem-focus-ring-border-radius: var(--spectrum-alias-border-radius-regular);
  --spectrum-tabs-xl-textonly-tabitem-margin-right: var(--spectrum-global-dimension-size-300);
  --spectrum-tabs-xl-textonly-divider-border-radius: var(--spectrum-global-dimension-static-size-10);
  --spectrum-tabs-xl-vertical-textonly-tabitem-selection-indicator-background-color-selected: var(--spectrum-alias-tabitem-text-color-selected-default);
  --spectrum-tabs-xl-vertical-textonly-tabitem-height: var(--spectrum-global-dimension-size-750);
  --spectrum-tabs-xl-vertical-textonly-tabitem-gap: var(--spectrum-global-dimension-size-125);
  --spectrum-tabs-xl-compact-textonly-divider-size: var(--spectrum-alias-border-size-thick);
  --spectrum-tabs-xl-compact-textonly-height: var(--spectrum-global-dimension-size-600);
  --spectrum-tabs-xl-compact-vertical-textonly-tabitem-height: var(--spectrum-global-dimension-size-600);
  --spectrum-tabs-xl-compact-vertical-textonly-tabitem-gap: var(--spectrum-global-dimension-size-125);
}
