.spectrum-Picker {
  position: relative;

  display: inline-flex;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;
  overflow: visible;
  margin: 0;

  border-style: solid;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: button;
  vertical-align: top;

  transition: background var(--mod-animation-duration-100, var(--spectrum-animation-duration-100)) ease-out,
    border-color var(--mod-animation-duration-100, var(--spectrum-animation-duration-100)) ease-out,
    color var(--mod-animation-duration-100, var(--spectrum-animation-duration-100)) ease-out,
    box-shadow var(--mod-animation-duration-100, var(--spectrum-animation-duration-100)) ease-out;

  text-decoration: none;
  font-family: var(--mod-sans-font-family-stack, var(--spectrum-sans-font-family-stack));

  line-height: var(--mod-line-height-100, var(--spectrum-line-height-100));

  user-select: none;
  -webkit-user-select: none;

  cursor: pointer;
}

.spectrum-Picker:focus {
    outline: none;
  }

.spectrum-Picker::-moz-focus-inner {
    border: 0;
    border-style: none;
    padding: 0;
    margin-block-start: -2px;
    margin-block-end: -2px;
  }

.spectrum-Picker:disabled {
    cursor: default;
  }

.spectrum--medium {
  --spectrum-picker-popover-quiet-offset-x: 12px;
}

.spectrum--large {
  --spectrum-picker-popover-quiet-offset-x: 14px;
}

.spectrum-Picker {
  --spectrum-picker-font-size: var(--spectrum-font-size-100);
  --spectrum-picker-placeholder-font-style-default: italic;
  --spectrum-picker-placeholder-cjk-font-style: normal;
  --spectrum-picker-placeholder-font-style: var(--spectrum-picker-placeholder-font-style-default);
  --spectrum-picker-min-inline-size: var(--spectrum-picker-minimum-width-multiplier);
  --spectrum-picker-block-size: var(--spectrum-component-height-100);
  --spectrum-picker-border-width: var(--spectrum-border-width-100);
  --spectrum-picker-border-radius: var(--spectrum-corner-radius-100);
  --spectrum-picker-spacing-edge-to-text: var(--spectrum-component-edge-to-text-100);
  --spectrum-picker-spacing-edge-to-text-quiet: var(--spectrum-field-edge-to-text-quiet);

  --spectrum-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-100);
  --spectrum-picker-spacing-text-to-alert-icon-inline-start: var(--spectrum-field-text-to-alert-icon-medium);
  --spectrum-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-medium);
  --spectrum-picker-spacing-label-to-picker: var(--spectrum-field-label-to-component);
  --spectrum-picker-spacing-label-to-picker-quiet: var(--spectrum-field-label-to-component-quiet-medium);
  --spectrum-picker-animation-duration: var(--spectrum-animation-duration-100);
  --spectrum-picker-font-color-default: var(--spectrum-neutral-content-color-default);
  --spectrum-picker-font-color-default-open: var(--spectrum-neutral-content-color-focus);
  --spectrum-picker-font-color-hover: var(--spectrum-neutral-content-color-hover);
  --spectrum-picker-font-color-hover-open: var(--spectrum-neutral-content-color-focus-hover);
  --spectrum-picker-font-color-active: var(--spectrum-neutral-content-color-down);
  --spectrum-picker-font-color-key-focus: var(--spectrum-neutral-content-color-key-focus);

  --spectrum-picker-icon-color-default: var(--spectrum-neutral-content-color-default);
  --spectrum-picker-icon-color-default-open: var(--spectrum-neutral-content-color-focus);
  --spectrum-picker-icon-color-hover: var(--spectrum-neutral-content-color-hover);
  --spectrum-picker-icon-color-hover-open: var(--spectrum-neutral-content-color-focus-hover);
  --spectrum-picker-icon-color-active: var(--spectrum-neutral-content-color-down);
  --spectrum-picker-icon-color-key-focus: var(--spectrum-neutral-content-color-key-focus);

  --spectrum-picker-border-color-error-default: var(--spectrum-negative-border-color-default);
  --spectrum-picker-border-color-error-default-open: var(--spectrum-negative-border-color-focus);
  --spectrum-picker-border-color-error-hover: var(--spectrum-negative-border-color-hover);
  --spectrum-picker-border-color-error-hover-open: var(--spectrum-negative-border-color-focus-hover);
  --spectrum-picker-border-color-error-active: var(--spectrum-negative-border-color-down);
  --spectrum-picker-border-color-error-key-focus: var(--spectrum-negative-border-color-key-focus);

  --spectrum-picker-icon-color-error: var(--spectrum-negative-visual-color);

  --spectrum-picker-background-color-disabled: var(--spectrum-disabled-background-color);
  --spectrum-picker-font-color-disabled: var(--spectrum-disabled-content-color);
  --spectrum-picker-icon-color-disabled: var(--spectrum-disabled-content-color);
  --spectrum-focus-indicator-gap: 2px;
  --spectrum-picker-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
  --spectrum-focus-indicator-thickness: 2px;
  --spectrum-picker-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
  --spectrum-picker-focus-indicator-color: var(--spectrum-focus-indicator-color);
}

.spectrum-Picker:lang(ja),
  .spectrum-Picker:lang(zh),
  .spectrum-Picker:lang(ko) {
    --spectrum-picker-placeholder-font-style: var(--spectrum-picker-placeholder-cjk-font-style);
  }

.spectrum-Picker + .spectrum-Popover--bottom.is-open {
    --spectrum-picker-spacing-picker-to-popover: var(--spectrum-component-to-menu-medium);
  }

.spectrum-Picker--sizeS {
  --spectrum-picker-font-size: var(--spectrum-font-size-75);
  --spectrum-picker-block-size: var(--spectrum-component-height-75);
  --spectrum-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-75);
  --spectrum-picker-spacing-text-to-alert-icon-inline-start: var(--spectrum-field-text-to-alert-icon-small);
  --spectrum-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-small);
  --spectrum-picker-spacing-label-to-picker-quiet: var(--spectrum-field-label-to-component-quiet-small);
}

.spectrum-Picker--sizeS + .spectrum-Popover--bottom.is-open {
    --spectrum-picker-spacing-picker-to-popover: var(--spectrum-component-to-menu-small);
  }

.spectrum-Picker--sizeM {
  --spectrum-picker-font-size: var(--spectrum-font-size-100);
  --spectrum-picker-block-size: var(--spectrum-component-height-100);
  --spectrum-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-100);
  --spectrum-picker-spacing-text-to-alert-icon-inline-start: var(--spectrum-field-text-to-alert-icon-medium);
  --spectrum-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-medium);
  --spectrum-picker-spacing-label-to-picker-quiet: var(--spectrum-field-label-to-component-quiet-medium);
}

.spectrum-Picker--sizeM + .spectrum-Popover--bottom.is-open {
    --spectrum-picker-spacing-picker-to-popover: var(--spectrum-component-to-menu-medium);
  }

.spectrum-Picker--sizeL {
  --spectrum-picker-font-size: var(--spectrum-font-size-200);
  --spectrum-picker-block-size: var(--spectrum-component-height-200);
  --spectrum-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-200);
  --spectrum-picker-spacing-text-to-alert-icon-inline-start: var(--spectrum-field-text-to-alert-icon-large);
  --spectrum-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-large);
  --spectrum-picker-spacing-label-to-picker-quiet: var(--spectrum-field-label-to-component-quiet-large);
}

.spectrum-Picker--sizeL + .spectrum-Popover--bottom.is-open {
    --spectrum-picker-spacing-picker-to-popover: var(--spectrum-component-to-menu-large);
  }

.spectrum-Picker--sizeXL {
  --spectrum-picker-font-size: var(--spectrum-font-size-300);
  --spectrum-picker-block-size: var(--spectrum-component-height-300);
  --spectrum-picker-spacing-text-to-icon: var(--spectrum-text-to-visual-300);
  --spectrum-picker-spacing-text-to-alert-icon-inline-start: var(--spectrum-field-text-to-alert-icon-extra-large);
  --spectrum-picker-spacing-icon-to-disclosure-icon: var(--spectrum-picker-visual-to-disclosure-icon-extra-large);
  --spectrum-picker-spacing-label-to-picker-quiet: var(--spectrum-field-label-to-component-quiet-extra-large);
}

.spectrum-Picker--sizeXL + .spectrum-Popover--bottom.is-open {
    --spectrum-picker-spacing-picker-to-popover: var(--spectrum-component-to-menu-extra-large);
  }

@media (forced-colors: active) {
  .spectrum-Picker {
    --highcontrast-picker-focus-indicator-color: CanvasText;

    --highcontrast-picker-border-color-default: ButtonText;
    --highcontrast-picker-border-color-active: ButtonText;
    --highcontrast-picker-border-color-key-focus: Highlight;

    --highcontrast-picker-border-color-error-default-open: ButtonText;
    --highcontrast-picker-border-color-error-hover: ButtonText;
    --highcontrast-picker-border-color-error-active: ButtonText;

    --highcontrast-picker-font-color-default: ButtonText;
    --highcontrast-picker-font-color-default-open: ButtonText;
    --highcontrast-picker-font-color-key-focus: ButtonText;
    --highcontrast-picker-font-color-disabled: GrayText;

    --highcontrast-picker-background-color-default: Background;
    --highcontrast-picker-background-color-disabled: Background;

    --highcontrast-picker-icon-color-default: ButtonText;
    --highcontrast-picker-icon-color-default-open: ButtonText;
    --highcontrast-picker-icon-color-hover: ButtonText;
    --highcontrast-picker-icon-color-hover-open: ButtonText;
    --highcontrast-picker-icon-color-key-focus: Highlight;

    --highcontrast-picker-icon-color-error-default: ButtonText;
  }

    .spectrum-Picker:disabled,
    .spectrum-Picker .is-disabled {
      border-color: GrayText;
      border-width: var(--mod-picker-border-width, var(--spectrum-picker-border-width));
    }
    .spectrum-Picker--quiet.focus-ring,
    .spectrum-Picker--quiet:focus-visible,
    .spectrum-Picker--quiet.is-focused {
      forced-color-adjust: none;
      outline: 0;
      box-shadow: 0 0 0 var(--highcontrast-picker-focus-indicator-color, var(--mod-picker-focus-indicator-color, var(--spectrum-picker-focus-indicator-color)));
    }
}

.spectrum-Picker {
  display: flex;
  justify-content: center;
  align-items: center;
  max-inline-size: 100%;
  min-inline-size: var(--mod-picker-min-inline-size, var(--spectrum-picker-min-inline-size));
  block-size: var(--mod-picker-block-size, var(--spectrum-picker-block-size));

  margin: 0;
  margin-block-start: var(--mod-picker-spacing-label-to-picker, var(--spectrum-picker-spacing-label-to-picker));
  padding-block: 0;
  padding-inline: var(--mod-picker-spacing-edge-to-text, var(--spectrum-picker-spacing-edge-to-text));

  border-width: var(--mod-spectrum-picker-border-width, var(--spectrum-picker-border-width));
  border-style: solid;
  border-radius: var(--mod-picker-border-radius, var(--spectrum-picker-border-radius));

  transition: background-color var(--mod-picker-animation-duration, var(--spectrum-picker-animation-duration)),
    box-shadow var(--mod-picker-animation-duration, var(--spectrum-picker-animation-duration)),
    border-color var(--mod-picker-animation-duration, var(--spectrum-picker-animation-duration)) ease-in-out;

  color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-default, var(--spectrum-picker-font-color-default)));
  background-color: var(--highcontrast-picker-background-color-default, var(--mod-picker-background-color-default, var(--spectrum-picker-background-color-default)));
  border-color: var(--highcontrast-picker-border-color-default, var(--mod-picker-border-color-default, var(--spectrum-picker-border-color-default)));
}

.spectrum-Picker::after {
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: calc(var(--mod-picker-focus-indicator-gap, var(--spectrum-picker-focus-indicator-gap)) + var(--mod-picker-border-width, var(--spectrum-picker-border-width)) * -1);
    inline-size: calc(100% + var(--mod-picker-focus-indicator-gap, var(--spectrum-picker-focus-indicator-gap)) * 2 + var(--mod-picker-border-width, var(--spectrum-picker-border-width)) * 2);
    block-size: calc(100% + var(--mod-picker-focus-indicator-gap, var(--spectrum-picker-focus-indicator-gap)) * 2 + var(--mod-picker-border-width, var(--spectrum-picker-border-width) * 2));
    margin: auto;
    margin-inline-start: calc((var(--mod-picker-focus-indicator-gap, var(--spectrum-picker-focus-indicator-gap)) + var(--mod-picker-focus-indicator-thickness, var(--spectrum-picker-focus-indicator-thickness)) + var(--mod-picker-border-size, var(--spectrum-picker-border-size))) * -1);
    border-style: solid;
    border-width: var(--mod-picker-focus-indicator-thickness, var(--spectrum-picker-focus-indicator-thickness));
    border-color: transparent;
    border-radius: calc(var(--mod-picker-border-radius, var(--spectrum-picker-border-radius)) + var(--mod-picker-focus-indicator-gap, var(--spectrum-picker-focus-indicator-gap)) + var(--mod-picker-border-width, var(--spectrum-picker-border-width)));
  }

.spectrum-Picker.focus-ring,
  .spectrum-Picker:focus-visible {
    outline: none;
  }

.spectrum-Picker.focus-ring::after, .spectrum-Picker:focus-visible::after {
      border-color: var(--highcontrast-picker-focus-indicator-color, var(--mod-picker-focus-indicator-color, var(--spectrum-picker-focus-indicator-color)));
    }

.spectrum-Picker:hover {
    color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-hover, (--spectrum-picker-font-color-hover)));
    background-color: var(--highcontrast-picker-background-color-default, var(--mod-picker-background-color-hover, var(--spectrum-picker-background-color-hover)));
    border-color: var(--highcontrast-picker-border-color-default, var(--mod-picker-border-color-hover, var(--spectrum-picker-border-color-hover)));
  }

.spectrum-Picker:hover .spectrum-Picker-menuIcon {
      color: var(--highcontrast-picker-icon-color-hover, var(--mod-picker-icon-color-hover, var(--spectrum-picker-icon-color-hover)));
    }

.spectrum-Picker:active {
    background-color: var(--highcontrast-picker-background-active, var(--mod-picker-background-color-active, var(--spectrum-picker-background-color-active)));
    border-color: var(--highcontrast-picker-border-color-active, var(--mod-picker-border-active, var(--spectrum-picker-border-color-active)));
  }

.spectrum-Picker:active::after {
      border-color: transparent;
    }

.spectrum-Picker:active.is-placeholder .spectrum-Picker-label {
        color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-active, var(--spectrum-picker-font-color-active)));
      }

.spectrum-Picker:focus-visible,
  .spectrum-Picker.focus-ring,
  .spectrum-Picker.is-focused {
    background-color: var(--highcontrast-picker-background-color-default, var(--mod-picker-background-color-key-focus, var(--spectrum-picker-background-color-key-focus)));

    border-color: var(--highcontrast-picker-border-color-key-focus, var(--mod-picker-border-color-key-focus, var(--spectrum-picker-border-color-key-focus)));
    border-width: var(--mod-picker-border-width, var(--spectrum-picker-border-width));

    color: var(--highcontrast-picker-font-color-key-focus, var(--mod-picker-font-color-key-focus, var(--spectrum-picker-font-color-key-focus)));
  }

.spectrum-Picker:focus-visible.is-placeholder, .spectrum-Picker.focus-ring.is-placeholder, .spectrum-Picker.is-focused.is-placeholder {
      color: var(--highcontrast-picker-font-color-key-focus, var(--mod-picker-font-color-key-focus, var(--spectrum-picker-font-color-key-focus)));
    }

.spectrum-Picker.is-open {
    color: var(--highcontrast-picker-font-color-default-open, var(--mod-picker-font-color-default-open, var(--spectrum-picker-font-color-default-open)));
    background-color: var(--highcontrast-picker-background-default-open, var(--mod-picker-background-color-default-open, var(--spectrum-picker-background-color-default-open)));
    border-color: var(--highcontrast-picker-border-color-default-open, var(--mod-picker-border-default-open, var(--spectrum-picker-border-color-default-open)));
  }

.spectrum-Picker.is-open:hover {
      color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-hover-open, var(--spectrum-picker-font-color-hover-open)));
      background-color: var(--spectrum-picker-background-color-hover-open);
      border-color: var(--spectrum-picker-border-color-hover-open);
    }

.spectrum-Picker.is-open:hover .spectrum-Picker-menuIcon {
        color: var(--highcontrast-picker-icon-color-hover-open, var(--mod-picker-icon-color-hover-open, var(--spectrum-picker-icon-color-hover-open)));
      }

.spectrum-Picker.is-open .spectrum-Picker-menuIcon {
      color: var(--highcontrast-picker-icon-color-default-open, var(--mod-picker-icon-color-default-open, var(--spectrum-picker-icon-color-default-open)));
    }

.spectrum-Picker.is-invalid {
    border-color: var(--highcontrast-picker-border-color-error-default, var(--mod-picker-border-color-error-default, var(--spectrum-picker-border-color-error-default)));
  }

.spectrum-Picker.is-invalid .spectrum-Picker-validationIcon {
      color: var(--highcontrast-picker-icon-color-error-default, var(--mod-picker-icon-color-error, var(--spectrum-picker-icon-color-error)));
    }

.spectrum-Picker.is-invalid:hover {
      border-color: var(--highcontrast-picker-border-color-error-hover, var(--mod-picker-border-color-error-hover, var(--spectrum-picker-border-color-error-hover)));
    }

.spectrum-Picker.is-invalid:active {
      border-color: var(--highcontrast-picker-border-color-error-active, var(--mod-picker-border-color-error-active, var(--spectrum-picker-border-color-error-active)));
    }

.spectrum-Picker.is-invalid.is-open {
      border-color: var(--highcontrast-picker-border-color-error-default-open, var(--mod-picker-border-color-error-default-open, var(--spectrum-picker-border-color-error-default-open)));
    }

.spectrum-Picker.is-invalid.is-open:hover {
      border-color: var(--highcontrast-picker-border-color-error-hover-open, var(--mod-picker-border-color-error-hover-open, var(--spectrum-picker-border-color-error-hover-open)));
    }

.spectrum-Picker.is-invalid.focus-ring,
    .spectrum-Picker.is-invalid:focus-visible,
    .spectrum-Picker.is-invalid.is-focused {
      border-color: var(--highcontrast-picker-border-color-error-default, var(--mod-picker-border-color-error-key-focus, var(--spectrum-picker-border-color-error-key-focus)));
    }

.spectrum-Picker.is-loading .spectrum-Picker-menuIcon {
      color: var(--highcontrast-picker-icon-color-disabled, var(--mod-picker-icon-color-disabled, var(--spectrum-picker-icon-color-disabled)));
    }

.spectrum-Picker:disabled,
  .spectrum-Picker.is-disabled {
    border-width: var(--mod-picker-border-width, var(--spectrum-picker-border-width));
    cursor: default;

    background-color: var(--highcontrast-picker-background-color-disabled, var(--mod-picker-background-color-disabled, var(--spectrum-picker-background-color-disabled)));
    border-color: transparent;
    color: var(--highcontrast-picker-font-color-disabled, var(--mod-picker-font-color-disabled, var(--spectrum-picker-font-color-disabled)));
  }

.spectrum-Picker:disabled .spectrum-Picker-icon,
    .spectrum-Picker:disabled .spectrum-Picker-menuIcon,
    .spectrum-Picker:disabled .spectrum-Picker-validationIcon,
    .spectrum-Picker.is-disabled .spectrum-Picker-icon,
    .spectrum-Picker.is-disabled .spectrum-Picker-menuIcon,
    .spectrum-Picker.is-disabled .spectrum-Picker-validationIcon {
      color: var(--highcontrast-picker-icon-color-disabled, var(--mod-picker-icon-color-disabled, var(--spectrum-picker-icon-color-disabled)));
    }

.spectrum-Picker:disabled .spectrum-Picker-label.is-placeholder, .spectrum-Picker.is-disabled .spectrum-Picker-label.is-placeholder {
      color: var(--highcontrast-picker-font-color-disabled, var(--mod-picker-font-color-disabled, var(--spectrum-picker-font-color-disabled)));
    }

.spectrum-Picker .spectrum-Picker-icon {
    flex-shrink: 0;
    margin-inline-end: var(--mod-picker-spacing-text-to-icon, var(--spectrum-picker-spacing-text-to-icon));
  }

.spectrum-Picker--quiet {
  inline-size: auto;
  min-inline-size: 0;
}

.spectrum-Picker--quiet:disabled.focus-ring,
    .spectrum-Picker--quiet:disabled:focus-visible,
    .spectrum-Picker--quiet.is-disabled.focus-ring,
    .spectrum-Picker--quiet.is-disabled:focus-visible {
      border-color: transparent;
    }

.spectrum-Picker-label {
  flex: 1 1 auto;

  white-space: nowrap;
  overflow: hidden;

  block-size: calc(var(--mod-picker-block-size, var(--spectrum-picker-block-size)) - var(--mod-picker-border-size, var(--spectrum-picker-border-size)) * 2);
  line-height: calc(var(--mod-picker-block-size, var(--spectrum-picker-block-size)) - var(--mod-picker-border-size, var(--spectrum-picker-border-size)) * 2);

  font-size: var(--mod-picker-font-size, var(--spectrum-picker-font-size));

  text-overflow: ellipsis;
  text-align: start;
}

.spectrum-Picker-label.is-placeholder {
    font-weight: 400;
    font-style: var(--mod-picker-placeholder-font-style, var(--spectrum-picker-placeholder-font-style));
    transition: color var(--mod-picker-animation-duration, var(--spectrum-picker-animation-duration)) ease-in-out;

    color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-default, var(--spectrum-picker-font-color-default)));
  }

.spectrum-Picker-label.is-placeholder:hover {
      color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-hover, var(--spectrum-picker-font-color-hover)));
    }

.spectrum-Picker-label.is-placeholder:active {
      color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-active, var(--spectrum-picker-font-color-active)));
    }

.spectrum-Picker-menuIcon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  transition: color var(--mod-picker-animation-duration, var(--spectrum-picker-animation-duration)) ease-out;
  flex-shrink: 0;
  margin-inline-start: var(--mod-picker-spacing-icon-to-disclosure-icon, var(--spectrum-picker-spacing-icon-to-disclosure-icon));

  color: var(--highcontrast-picker-icon-color-default, var(--mod-picker-icon-color-default, var(--spectrum-picker-icon-color-default)));
}

.spectrum-Picker-menuIcon.focus-ring,
  .spectrum-Picker-menuIcon:focus-visible {
    color: var(--highcontrast-picker-icon-color-key-focus, var(--mod-picker-icon-color-key-focus, var(--spectrum-picker-icon-color-key-focus)));
  }

.spectrum-Picker-menuIcon:active {
    color: var(--highcontrast-picker-icon-color-default, var(--mod-picker-icon-color-active, var(--spectrum-picker-icon-color-active)));
  }

.spectrum-Picker-validationIcon {
  margin-inline-start: var(--mod-picker-spacing-text-to-alert-icon-inline-start, var(--spectrum-picker-spacing-text-to-alert-icon-inline-start));
}

.spectrum-Picker-label ~ .spectrum-Picker-menuIcon {
  margin-inline-start: var(--mod-picker-spacing-text-to-icon, var(--spectrum-picker-spacing-text-to-icon));
}

.spectrum-Picker + .spectrum-Popover--bottom.is-open {
  transform: translateY(var(--mod-picker-spacing-picker-to-popover, var(--spectrum-picker-spacing-picker-to-popover)));
}

.spectrum-Picker--quiet + .spectrum-Popover--bottom.is-open {
  margin-inline-start: calc(-1 * var(--mod-picker-popover-quiet-offset-x, var(--spectrum-picker-popover-quiet-offset-x)));
}

.spectrum-Picker--quiet {
  border: none;
  border-radius: 0;
  padding-inline: var(--mod-picker-spacing-edge-to-text-quiet, var(--spectrum-picker-spacing-edge-to-text-quiet));
  margin-block-start: var(--mod-picker-spacing-label-to-picker-quiet, var(--spectrum-picker-spacing-label-to-picker-quiet));

  color: var(--highcontrast-picker-font-color-default, var(--mod-picker-font-color-default, var(--spectrum-picker-font-color-default)));
  background-color: transparent;
}

.spectrum-Picker--quiet::after {
    border: none;
  }

.spectrum-Picker--quiet:hover {
    background-color: transparent;
  }

.spectrum-Picker--quiet.focus-ring,
  .spectrum-Picker--quiet:focus-visible,
  .spectrum-Picker--quiet.is-focused {
    background-color: transparent;
  }

.spectrum-Picker--quiet.focus-ring::after, .spectrum-Picker--quiet:focus-visible::after, .spectrum-Picker--quiet.is-focused::after {
      border: none;
      border-radius: 0;
      box-shadow: 0 var(--mod-picker-focus-indicator-thickness, var(--spectrum-picker-focus-indicator-thickness)) 0 0 var(--highcontrast-picker-focus-indicator-color, var(--mod-picker-focus-indicator-color, var(--spectrum-picker-focus-indicator-color)));
      margin: calc((var(--mod-picker-focus-indicator-gap, var(--spectrum-picker-focus-indicator-gap)) + var(--mod-picker-border-width, var(--spectrum-picker-border-width))) * -1) 0;
    }

.spectrum-Picker--quiet:active,
  .spectrum-Picker--quiet.is-open {
    background-color: transparent;
  }

.spectrum-Picker--quiet:active.focus-ring::after, .spectrum-Picker--quiet:active:focus-visible::after, .spectrum-Picker--quiet:active.is-focused::after, .spectrum-Picker--quiet.is-open.focus-ring::after, .spectrum-Picker--quiet.is-open:focus-visible::after, .spectrum-Picker--quiet.is-open.is-focused::after {
        box-shadow: none;
      }

.spectrum-Picker--quiet.is-invalid:not(.is-open).focus-ring,
    .spectrum-Picker--quiet.is-invalid:not(.is-open):focus-visible,
    .spectrum-Picker--quiet.is-invalid:not(.is-open).is-focused {
      box-shadow: none;
    }

.spectrum-Picker--quiet.is-invalid:not(.is-open).focus-ring::after, .spectrum-Picker--quiet.is-invalid:not(.is-open):focus-visible::after, .spectrum-Picker--quiet.is-invalid:not(.is-open).is-focused::after {
        box-shadow: 0 var(--mod-picker-focus-indicator-thickness, var(--spectrum-picker-focus-indicator-thickness)) 0 0 var(--highcontrast-picker-focus-indicator-color, var(--mod-picker-focus-indicator-color, var(--spectrum-picker-focus-indicator-color)));
      }

.spectrum-Picker--quiet:disabled,
  .spectrum-Picker--quiet.is-disabled {
    background-color: transparent;
  }

.spectrum {
  --system-spectrum-picker-border-size: var(--spectrum-border-width-100);
  --system-spectrum-picker-background-color-default: var(--spectrum-gray-75);
  --system-spectrum-picker-background-color-default-open: var(--spectrum-gray-200);
  --system-spectrum-picker-background-color-active: var(--spectrum-gray-300);
  --system-spectrum-picker-background-color-hover: var(--spectrum-gray-200);
  --system-spectrum-picker-background-color-hover-open: var(--spectrum-gray-200);
  --system-spectrum-picker-background-color-key-focus: var(--spectrum-gray-200);
  --system-spectrum-picker-border-color-default: var(--spectrum-gray-400);
  --system-spectrum-picker-border-color-default-open: var(--spectrum-gray-400);
  --system-spectrum-picker-border-color-hover: var(--spectrum-gray-500);
  --system-spectrum-picker-border-color-hover-open: var(--spectrum-gray-500);
  --system-spectrum-picker-border-color-active: var(--spectrum-gray-600);
  --system-spectrum-picker-border-color-key-focus: var(--spectrum-gray-500);
}

.spectrum--express {
  --system-spectrum-picker-border-size: none;
  --system-spectrum-picker-background-color-default: var(--spectrum-gray-200);
  --system-spectrum-picker-background-color-default-open: var(--spectrum-gray-300);
  --system-spectrum-picker-background-color-hover: var(--spectrum-gray-300);
  --system-spectrum-picker-background-color-hover-open: var(--spectrum-gray-300);
  --system-spectrum-picker-background-color-active: var(--spectrum-gray-400);
  --system-spectrum-picker-background-color-key-focus: var(--spectrum-gray-300);
}

.spectrum-Picker {
  --spectrum-picker-border-size: var(--system-spectrum-picker-border-size);
  --spectrum-picker-background-color-default: var(--system-spectrum-picker-background-color-default);
  --spectrum-picker-background-color-default-open: var(--system-spectrum-picker-background-color-default-open);
  --spectrum-picker-background-color-active: var(--system-spectrum-picker-background-color-active);
  --spectrum-picker-background-color-hover: var(--system-spectrum-picker-background-color-hover);
  --spectrum-picker-background-color-hover-open: var(--system-spectrum-picker-background-color-hover-open);
  --spectrum-picker-background-color-key-focus: var(--system-spectrum-picker-background-color-key-focus);
  --spectrum-picker-border-color-default: var(--system-spectrum-picker-border-color-default);
  --spectrum-picker-border-color-default-open: var(--system-spectrum-picker-border-color-default-open);
  --spectrum-picker-border-color-hover: var(--system-spectrum-picker-border-color-hover);
  --spectrum-picker-border-color-hover-open: var(--system-spectrum-picker-border-color-hover-open);
  --spectrum-picker-border-color-active: var(--system-spectrum-picker-border-color-active);
  --spectrum-picker-border-color-key-focus: var(--system-spectrum-picker-border-color-key-focus);
}
