{% if example.description %}
  <div class="spectrum-Typography">
    <section class="spectrum-CSSExample-description spectrum-Body spectrum-Body--sizeM">
      {{ example.description | markdownify | safe }}
    </section>
  </div>
{% endif %}
{% if example.details %}
  <div class="spectrum-Typography">
    <section class="spectrum-CSSExample-description spectrum-Body spectrum-Body--sizeM">
      {{ example.details | markdownify | safe }}
    </section>
  </div>
{% endif %}
{% if example.markup %}
  <section class="spectrum-CSSExample-container">
    <div class="spectrum-CSSExample-example">
      {{ example.markup | safe }}
    </div>
    <div class="spectrum-CSSExample-markup">
      {% if example
        .markup
        .split('\n')
        .length > 2 %}
        <a href="#" class="js-markup-toggle spectrum-CSSExample-markupToggle spectrum-Link">Show markup</a>
      {% endif %}
      <bdo dir="ltr">
<pre class="spectrum-Code spectrum-Code--sizeXS">
<code class="language-markup">{% highlight %}{{ example.markup | safe }}{% endhighlight %}</code>
</pre>
      </bdo>
    </div>
  </section>
{% endif %}
